# IDA database extensions, used for testing
*.i64
*.til
*.id*
*.nam

# Hidden files
.*
!.gitignore

# Misc code and build artifacts
*.c
*.cpp
*.h
*.obj
*.ilk
*.exe

# Debug information files
*.debug
*.pdb
